{
  "semi": false,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "trailingComma": "none"
}